nav {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #eee;
    border-radius: 4px;
    margin-bottom: 20px;
}
.nav {
    margin: 0 !important;
}
.nav a {
    color: #444;
    text-decoration: none;
}
.nav a:hover {
    font-weight: bold;
}
.search-form, .filter-form {
    padding: .5rem 1rem;
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 5px;
}
.filter-form {
    grid-template-columns: 1fr;
}
.search-form .btn-sm {
    line-height: 1;
    font-size: 0.9rem;
}
.search-form input,
.filter-form input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-top: 3px;
    vertical-align: middle;
    line-height: 1;
    font-size: 1rem;
    padding-bottom: 4px;
}
.filter-form input {
    line-height: 1.5;
}
.cards {
    padding: 0.75rem 1.25rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
}
button {
    font-size: 12px;
  margin: 5px;
  background-color: #750404;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 12px;
  cursor: pointer;
}

.cardBody {
    margin-top: 20px;
}
.single-card-people {
    width: 19%;
}
.single-card-movie {
    width: 24%;
}
.single-card-playing {
    width: 15%;
}
#now-playing .card-text {
    height: 100px;
    overflow: hidden;
}
.single-card-tv {
    width: 19%;
}
.tv-show .card-text {
    height: 100px;
    overflow: hidden;
}
.single-card-on-air {
    width: 15%;
}
#on-air-today .card-text {
    height: 100px;
    overflow: hidden;
}
.all-movies .single-card-movie {
    width: 15%;
}
.user img {
    width: 30px;
    border-radius: 90%;
    margin-left: 10px;
}
.card-img-top {
    width: 95%;
}
.single-card-movie {
    width: 24%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
}
p.card-text
 {
    font-size: 10px;
}
h5 {
    font-size: 14px;
}
@media(min-width: 765px) {
    nav {
        grid-template-columns: 4fr 3fr;
    }
}
