.cards {
    padding: 0.75rem 1.25rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
img.card-img {
    width: 95%;
    border-radius: 12px;
}
img.poster-img {
    width: 25%;
    border-radius: 5px;
}
.Fav {
    
    align-content: center;
    display: flex;
    font-size: 25px;
    justify-content: center;
    background: #680606;
    color: #f5e9e9;
}

    

button.btn.btn-warning
 {
    padding: 5px;
    margin: 13px;
}

@media (max-width: 480px) {

  .cards {
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start; 
    padding: 10px;
  }

  img {
    width: 100%; 
    max-width: 300px; 
    border-radius: 12px;
    margin-bottom: 10px;
  }

  button.btn.btn-warning {
    width: 100%; 
    margin: 5px 0; 
    padding: 8px;
    font-size: 14px;
  }
}
