.search-form {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.search-form input[type="text"] {
  width: 100%;        /* que ocupe todo */
  max-width: 700px;   /* límite para que no tape los radios */
  padding: 12px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 6px;
  margin-right: 20px; /* deja espacio antes de los radios */
}

.buttonsRadio {
  display: flex;
  align-items: center;
  margin-right: 20px; /* separa radios del botón */
}

.buttonsRadio input[type="radio"] {
  margin-right: 6px;
}

.buttonsRadio label {
  font-size: 16px;
  color: #2e2f33;
  margin-right: 15px;
}

.buttonsRadio button {
  font-size: 18px;
  background-color: #2e2f33; /* mismo color */
  border: none;
  border-radius: 6px;
  padding: 12px 20px;
  color: white;
}


/*
section.buttonsRadio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
button {
    font-size: 12px;
    margin: 10px;
    background-color: #2e2f33;
    border: none;
    font-family: monospace;
    border-radius: 3px;
    padding: 8px 12px;
    color: white;
    cursor: pointer;
}
.search-form, .filter-form {
    display: flex
;
    grid-template-columns: 4fr 1fr;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}*/
