
.card-text {
  font-size: 12px;
  font-family: monospace;
  color: white;
  background-color: #750404;
  padding: 8px;
  border-radius: 4px;
  margin: -4px;
  display: flex;
  align-items: flex-end;
}

.card-img-top {
  width: 85%;
  border-radius: 8px;
  padding-top: 3px;
}

.card-body {
  display: flex;
  flex-direction: column;
  margin: 15px;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-around;
}

h5 {
  font-size: 14px;
}
button {
  font-size: 12px;
  margin: 10px;
  background-color: #2e2f33;
  border: none;
  font-family: monospace;
  border-radius: 3px;
  padding: 8px 12px;
  color: white;
  cursor: pointer;
}

.btn-ver-mas {
  font-size: 12px;
  font-family: monospace;
  margin: 10px 5px 5px 0;
  background-color: #000c35;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 12px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.btn-favorito {
  font-size: 12px;
  margin: 5px;
  background-color: #750404;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 12px;
  cursor: pointer;
}

a.btn-ver-todas,
.btn-ver-todas {
  font-size: 17px;
  font-weight: bolder;
  background-color: #000c35;
  border-radius: 3px;
  padding: 13px;
  color: #e3d4d4;
  border: none;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
}
.single-card-movie {
  width: 22%;
  align-items: center;
  display: flex;
  padding: 5px;
  flex-direction: column;
  background: #8f9196;
  border-radius: 5px;
  align-content: center;
  justify-content: flex-start;
}

.all-movies .single-card-movie {
  width: 22%;
  margin: 10px;
}
@media (max-width: 480px) {
  .single-card-movie,
  .all-movies .single-card-movie {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  } }