.card-text {
  color: white;
  font-family: monospace;
  background-color: #750404;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  margin: 5px 0;
}
.single-card
 {
    width: 22%;
    align-items: center;
    display: flex
;
    padding: 5px;
    margin: 6px;
    flex-direction: column;
    background: #8f9196;
    border-radius: 5px;
    align-content: center;
    justify-content: flex-start;
}

@media (max-width: 480px) {

  .single-card-movie {
    width: 90%; 
    margin: 10px 0; 
    padding: 10px; 
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .card-text {
    font-size: 12px; 
    margin: 5px 0; 
    padding: 8px;
    border-radius: 4px;
  }
}
